<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmplxen.instead" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".SuggestionService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".NetworkService"
            android:exported="false" >
        </service>
        <service
            android:name=".LocationUpdateService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <receiver
            android:name=".LocationAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

    <!--
     <receiver android:process=":remote" android:name="Alarm"/> TODO: needed?
     see http://stackoverflow.com/questions/4459058/alarm-manager-example
    -->


    <!--
        - ACCESS_FINE_LOCATION is used to tailor suggestions to the user's
              location
        - WRITE_SETTINGS is used to allow writing to the lock screen
        - SYSTEM_ALERT_WINDOW is used to (try to) create a pop-up window
              from the Suggestion Service
        - INTERNET is used to query the Google Places API
        - WAKE_LOCK is used to wake up the device periodically to check location
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>